@model Online_Appointment_System.Models.User

<h2>User Registration</h2>
 @* for registraion  *@
<form method="post">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" asp-for="FullName" required />
    </div>

    <div class="form-group mt-3">
        <label>Email</label>
        <input type="email" class="form-control" asp-for="Email" required />
    </div>

    <div class="form-group mt-3">
        <label>Password</label>
        <input type="password" class="form-control" asp-for="Password" required />
    </div>

    <div class="form-group mt-3">
        <label>Mobile</label>
        <input type="text" class="form-control" asp-for="Mobile" required />
    </div>

    <button class="btn btn-success mt-3">Register</button>
</form>
