@{
    ViewData["Title"] = "Home";
}

<div class="hero">
    <h1 class="display-4">Welcome to Online Appointment System</h1>
    <p class="lead mt-3">Book your appointment instantly. Fast, Easy & Secure.</p>

    <a href="/Appointment/Create" class="btn btn-light btn-lg mt-4">Book Appointment</a>
    <a href="/Account/Register" class="btn btn-outline-light btn-lg mt-4">Create Account</a>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card shadow-sm p-4">
            <h4>Fast Booking</h4>
            <p>Book your appointment in just one click.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm p-4">
            <h4>Multiple Services</h4>
            <p>Select service as per your need.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm p-4">
            <h4>Secure Login</h4>
            <p>Your data is fully protected.</p>
        </div>
    </div>
</div>
