@model Online_Appointment_System.Models.TimeSlot

<h2>Add Time Slot</h2>

<form method="post">
    <div class="form-group">
        <label>Slot From</label>
        <input type="time" class="form-control" asp-for="SlotFrom" required />
    </div>

    <div class="form-group mt-3">
        <label>Slot To</label>
        <input type="time" class="form-control" asp-for="SlotTo" required />
    </div>

    <button class="btn btn-success mt-3">Save</button>
</form>
