@model System.Data.DataTable

<h2>Time Slot List</h2>

<a class="btn btn-primary mb-3" href="/TimeSlot/Create">Add Time Slot</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Slot ID</th>
            <th>Slot From</th>
            <th>Slot To</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["TimeSlotId"]</td>
                <td>@row["SlotFrom"]</td>
                <td>@row["SlotTo"]</td>
                <td>@(Convert.ToInt32(row["Status"]) == 1 ? "Active" : "Inactive")</td>
            </tr>
        }
    </tbody>
</table>
