@model Online_Appointment_System.Models.User

<h2>My Profile</h2>

<form method="post" asp-action="UpdateProfile">

    <input type="hidden" asp-for="UserId" />

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="FullName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" readonly />
    </div>

    <button class="btn btn-primary">
        Update Profile
    </button>

</form>
